body {
    margin-left: 5%;
    margin-right: 5%;
}

#header{
    padding: 0%;
}

.containerHorizontal {
    display: flex;
    top: 0%;
    height: 10%;
    width: auto;
    flex-wrap: wrap;
    align-items: center;
}

#logo {
    position: relative;
    top: 0em;
    left: 0em;
    border-radius: 50%;
    height: 11em;
    width: auto;
}

#mail {
    position: relative;
    border-radius: 25%;
    height: auto;
    width: 10%;
    left: 72%;
    top: 0%;
}

#sendMail {
    position: relative;
    height: 30px;
    width: auto;
    left: 71.3%;
}

#rightsReserved {
    background: rgb(29, 80, 190);
    display: flex;
    height: 2em;
    align-items: center;
    justify-content: center;
}

#rightsReservedText {
    margin: 0;
}


.my-custom-scrollbar {
    position: relative;
    height: 20em;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
    margin-bottom: 1em;
}
.table-fixed{
    height: 15em;
    width: 53%;
    overflow-x: auto;
    margin: auto;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}