*{text-align: justify;}


/* MENU PRINCIPAL - CONTENIDO*/
.main__content{
  position: relative;
  width: 76vw;
  margin: 2vh 10vw;
  height: auto;
}
.content--flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content--flex .element {
  order: 1;
  height: auto;
  width: 100%;
  margin: 2vh 0;
}

.content--flex .element img {
  width: 100%;
  height: 10vh;
  margin: 0;
  padding: 0;
  filter: contrast(.9)
}
.content--flex button{
  border: 1px solid black;
  background: none;
  margin: 1px;
  border-radius: 5px;
}

.content--grid{
  display: grid;
  grid-template-columns: repeat(2, 45%);
  grid-template-rows: auto;
  grid-row-gap: 5%;
  grid-column-gap: 10%;
  margin: 2rem 0 4vh 0;

}

.content--grid .element{
  height: auto;
  width: 100%;
}

/* SELECT ELEMENT */
select {
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 4px 0;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
select:focus {
  outline: none;
}

/* Use custom arrow */
.select--content select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.select--content {
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  position: relative;
}

.select--content:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0,0,0, 0.12);
  pointer-events: none;
  font-size: 1.6rem;
}

/* CABEZOTE */
.cabezote{
  width: 100%;
  height: 20vh;
  background-image: url(../libs/img/reference.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  text-align: center;
}

/* En caso de haber contenido*/
.cabezote__content{
  position: absolute;
  bottom: 2vh;
  left: 50%;
  height: auto;
  width: 80%;
  transform: translate(-50%, 0);
}

/* FIGTH ELEMENT */
.team--content{
  width: 100%;
  height: 5vh; 
  border: 1px solid
  black;
  padding: 0.6rem;
  border-radius: 0.7rem;
  margin: .2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.figth{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-bottom: .2rem;
  width: 100%;
  height: 5vh;
  margin:.5rem;
}

.figth::after{
  content: "";
  height: 2px;
  width: 90%;
  position: absolute;
  bottom: 0;
  background: black;
}

.separator{
  background: black;
}
.separator__vertical{
  width: 2px;
  height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 50%;
}