nav{
   position: absolute;
   left: 49%;
   top: 1%;
   /* line-height: 52px; */
   z-index: 20;
   /* display: inline-block;*/
   height: 1%;
   width: 100%;
   word-spacing: 70px;
}

 nav a{
/* display: block; */


background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
background-image: linear-gradient(to bottom, #eb94d0, #2079b0);

} 

header h1{
    position: absolute;
    left: 0%;
    top: 40%;
    z-index: 10;
    margin: 0%;
    color: rgb(206, 19, 19);
    background: #141e7c;
    height: auto;
    width: 100%;
}

#lowTitle{
    position: absolute;
    left: 0%;
    top: 46%;
    z-index: 10;
    width: 100vw;
    height: auto;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 180%;
}

#mainTitulos {
    position: absolute;
    left: 30%;
    top: 50%;
    z-index: 10;
    font-size: 133%;
}

#mainParrafos{
    position: absolute;
    left: 32%;
    top: 54%;
    z-index: 10;
    line-height: 40px;
}

#imagen1{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 40%;
    z-index: -50;
}

#imagen2{
    position: absolute;
    left: 0%;
    top: 51.5%;
    width: auto;
    height: 50%;
    z-index: 50;
}

#logo{
    position: absolute;
    left: 85%;
    top: 8%;
    width: 13%;
    height: auto;
    z-index: 20;
}

main{
    position: absolute;
    left: 22%;
    top: 50%;
    text-align: center;
}
h4{
    white-space:nowrap;
}

.OLByLetters{
    list-style-type: lower-alpha;
}

.ULByLetters{
    list-style-type: circle;
}

.ULBysquares{
    list-style-type: square;
}

.mainGamesInformation{
    position: absolute;
    left: 34%;
    top: 50%;
    text-align: start;
    width: 100%;
    height: auto;
    justify-content: left;
}

table{
    width: 60%;
}

#subrayado{
    text-decoration-line: underline;
}

th, td {
    width: 25%;
 }

 th{
    text-align: left;
 }

 #reg_main_css{
     display: table;
     text-align: start;
     width: 100%;
     height: auto;
     justify-content: left;
 }

 .maps{
    position: absolute;
    left: 0%;
    top: 102%;
    width: 33%;
    height: 100%;
 }