<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="10" />
        <link rel="stylesheet" href="styles/normalize.css" />
        <link rel="stylesheet" href="styles/style.css" />
        <title>Battleship Grid</title>
    </head>
<body>
        <div id="app">
            <div>
                <nav style="border: 2px solid black; ">
                    <ul style="list-style-type: none; display: flex; justify-content: space-around;">
                      <li><button type="button"><a @click="logOut">Log Out</a></button></li>
                      <li><button v-if="shipsPositioned == false" id="collect-boats" type="button"> guardar posiciones barcos </button> </li>
                      <li><button type="button"> <a href="index.html"> Return to games </a></button> </li>
                      <li><button v-if="salvoesFired == false && shipsPositioned == true" type="button"> <a onClick="sendSalvoes();"> send Salvos </a> </button> </li>
                    </ul>
                </nav>
            </div>    
            <div>
                <div>
                    <H1 style="text-align: left;">TURNO: {{turno}}</H1>
                    <H1 style="text-align: center;" v-if="shipsPositioned == false">FASE DE COLOCACION DE BARCOS</H1>
                    <H1 style="text-align: center;" v-if="shipsPositioned == true">FASE DE DISPARO DE SALVOS</H1>
                </div>
                <H3 style="text-align: center;" v-if="shipsPositioned == true">Posiciones a disparar: {{salvoesPositionsNotFire}}</H3>
            </div>
        </div>
    <div class="flex-container">
        <div id="dock">
            <div id="display">
                <p>Welcome...</p>
            </div>
            
            <!--The new ships will show up here, waiting for been placed in the grid -->
        
        </div>
        
        <div id="grid">
            <!--The grid will appear here -->
        </div>

        <div id="salvoGrid">
                <!--The grid will appear here -->
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>

    <script src="logic/mainGrid.js"></script>

    <script src="scripts/ships.js"></script>
    <script src="scripts/grid.js"></script>
</body>
</html>